@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
header{
  width: 100%;
  height: 80px;
  background-color: #11101b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  position: fixed;
  top: 0;
  z-index: 100;
}
.logo{
  font-size: 28px;
  font-weight: bold;
  color: #ffff;

}
.navbar{
  display: none;

}
.nav-bar ul{
  display: flex;
}
.nav-bar ul li a{
  display: block;
  color: #fefefe;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 50px;
  margin: 0 5px;
  transition: all 0.5s;
}
.nav-bar ul li a:hover{
  color: #11101b;
  background-color: #fefefe;

}
.nav-bar.active{
  height: 450px;
}
.nav-bar li .active{
  color: #11101b;
  background-color: #fefefe;
}


body {
  background: rgb(34,37,75);
  background: linear-gradient(356deg, rgba(34,37,75,1) 49%, rgba(2,0,36,1) 123%, rgba(55,59,105,1) 3100%);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.search {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
}

.search::placeholder {
  color: #7378c5;
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

.movie {
  width: 300px;
  margin: 1rem;
  background: rgb(34,37,75);
  background: linear-gradient(356deg, rgba(34,37,75,1) 49%, rgba(2,0,36,1) 123%, rgba(55,59,105,1) 3100%);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:0.2rem;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  background: rgb(34,37,75);
  background: linear-gradient(356deg, rgba(34,37,75,1) 49%, rgba(2,0,36,1) 123%, rgba(55,59,105,1) 3100%);
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
  color: white;
  box-shadow: 0 0 10px 3px white;
}

.movie:hover .overview {
  transform: translateY(0);
}

footer{
  background-color: #111;
}
.footerContainer{
  width: 100%;
  padding: 70px 30px 20px ;
}
.socialIcons{
  display: flex;
  justify-content: center;
    transition: 0.5s;
}
.socialIcons a{
  text-decoration: none;
  padding:  10px;
  background-color: white;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}
.socialIcons a i{
  font-size: 2em;
  color: black;
  opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
  background-color: #111;
  transition: 0.5s;
}
.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}
.footerNav{
  margin: 30px 0;
}
.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a{
  color:white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;

}
.footerNav ul li a:hover{
  opacity: 1;
}
.footerBottom{
  background-color: #000;
  padding: 20px;
  text-align: center;
}
.footerBottom p{
  color: white;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
@media (max-width: 700px){
  .footerNav ul{
      flex-direction: column;
  } 
  .footerNav ul li{
      width:100%;
      text-align: center;
      margin: 10px;
  }
  .socialIcons a{
      padding: 8px;
      margin: 4px;
  }
}


@media screen and (max-width: 576px) {
  .movie{
    width: 100%;
  }
}

/* Copyright ©2024; Designed by HAMID */
/* Copyright ©2024; Designed by HAMID */

@media only screen and (max-width:1320px){
  header{
      padding: 0 50px;
  }
}

@media only screen and (max-width:1100px){
  header{
      padding: 0 30px;
  }
}

@media only screen and (max-width:900px){
  .navbar{
      display: block;
      cursor: pointer;
  }
  .navbar .line{
      width: 30px;
      height: 3px;
      background-color: #fefefe;
      margin: 6px 0;
  }
  .nav-bar{
      height: 0;
      position: absolute;
      top: 80px;
      left: 0;
      right: 0;
      width: 100vw;
      background-color: #11101b;
      transition: 0.5s;
      overflow: hidden;
      }
      .nav-bar ul{
          display: block;
          width: fit-content;
          margin: 80px auto 0 auto;
          text-align: center;
          transition: 0.5s;

      }
      .nav-bar ul li a{
          margin-bottom: 12px;
      }
  header{
      padding: 0 30px;
  }
  .nav-bar.active ul{
      opacity: 1 ;
  }
}
